


header{
   text-align :center;

    height: fit-content;
    background-color: rgb(32, 32, 60);
     color: blanchedalmond;
       
  

}

h3{text-align: left;}


h2{text-decoration:underline ;
font-weight:bold  ;
color:red;
}

h3{
 




}